.container {
  width: 1350px;
  margin: 0 auto;
}

.footerTop__container {
  padding: 80px 99px;
  background-color: #efefef;
}
.footerTop__box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footertop__logo {
  width: 114px;
  height: 34px;
  margin-bottom: 24px;
}
.footertop__text {
  width: 396px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #565656;
  margin-bottom: 29px;
}
.footertop__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 190px;
}
.footertop__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  margin-bottom: 17px;
  color: #111111;
}
.footertop__span {
  display: block;
  width: 60px;
  height: 2px;
  background-color: #5a5ac9;
}
.footertop__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-transform: capitalize;
  text-align: start;
  color: #565656;
}
.footertop__navbar {
  align-items: flex-start;
  flex-direction: column;
}
.footertop__list {
  padding: 0;
}
.footertop__minibox {
  border-bottom: 1px solid #dee2e6;

  margin-bottom: 24px;
}
.footertop__text2 {
  width: 397px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #565656;
  margin-bottom: 16px;
}
.footertop__button {
  padding: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 47px;
  text-transform: capitalize;
  color: #ffffff;
  background-color: #5a5ac9;
  border-radius: 0px 30px 30px 0px;
  border: none;
}
.footertop__input {
  width: 284px;
  padding: 23px 29px 23px 11px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #565656;
  border-radius: 30px 0px 0px 30px;
}

/* ========================================================================================= */

.footerbottom__container {
  background-color: black;
  padding: 15px 99px;
}
.footerbottom__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerbottom__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
.footerbottom__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 286px;
}
